# Confluence
CONFLUENCE_DOMAIN=wiki.devops.io
MYSQL_DATABASE=confluence
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_USER=confluence
MYSQL_PASSWORD=change-me-db
TZ=Asia/Shanghai
SSL_CERTIFICATE=devops.io.crt
SSL_CERTIFICATE_KEY=devops.io.key
