[core]
	logallrefupdates = true
	quotePath = false
	commitGraph = true
[gc]
	reflogexpire = 90
	writeCommitGraph = true
[diff]
	algorithm = histogram
[user]
	name = Gitea
	email = gitea@fake.local
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[fetch]
	writeCommitGraph = true
[safe]
	directory = *
[gpg]
	format = openpgp
[uploadpack]
	allowfilter = true
	allowAnySHA1InWant = true
