# Harbor v2.15.2
HARBOR_VERSION=v2.15.2
HARBOR_HOSTNAME=harbor.devops.com
HARBOR_URL=https://harbor.devops.com
HARBOR_HTTP_PORT=80
HARBOR_HTTPS_PORT=443
HARBOR_HTTPS=true
HARBOR_SSL_CERT=harbor.devops.com.crt
HARBOR_SSL_KEY=harbor.devops.com.key
TZ=Asia/Shanghai

# bootstrap.py init 自动生成
HARBOR_ADMIN_PASSWORD=change-me-admin-password
HARBOR_DB_PASSWORD=change-me-db-password

HARBOR_JOBSERVICE_MAX_WORKERS=10
HARBOR_CACHE_ENABLED=true
HARBOR_CACHE_EXPIRE_HOURS=24
HARBOR_LOG_LEVEL=info
HARBOR_TRIVY_SKIP_UPDATE=false
# HARBOR_TRIVY_GITHUB_TOKEN=
